.fav-btn {
    width: 30px;
    height: 30px;
    border: solid black 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
/* 
.fav-btn.btn-success {
    background: #6562E8 ; 
    border-color: #6562E8;
} */

.fav-btn.btn-success svg {
    fill: white;
}